CONSUMER_KEY_VAULT=<consumer-key-vault-name>
PROVIDER_KEY_VAULT=<provider-key-vault-name>
EDC_VAULT_CLIENTID=<client-id-of-application's-service-principal-object>
EDC_VAULT_TENANTID=<azure-ad-tenant-id>
EDC_VAULT_CLIENTSECRET=<client-secret-of-application's-service-principal-object>
CONSUMER_DID_URL=did:web:<consumer-static-website-endpoint>
PROVIDER_DID_URL=did:web:<provider-static-website-endpoint>
CONSUMER_CONNECTOR_NAME=connector-company1
PROVIDER_CONNECTOR_NAME=connector-company2
